.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 20px;
  font-family: Arial;
}

.backButton {
  display: block;
  position: absolute;
  left: 30px;
}

img {
  width: 160px;
  height: 120px;
}

.house {
  border: solid 2px blue;
  border-radius: 30px;
  margin: 10px;
  width: 700px;
  height: 150px;
  font-family: Arial;
}

.house:hover{
  background: rgba(215, 241, 44, 0.08);
  box-shadow: none;
  cursor: pointer;
  border: solid 2px green;
}

.imageDiv {
  width: 160px;
  height: 120px;
  float: left;
  margin: 10px;
}

.descriptionDiv {
  margin: 10px;
}

.loadMoreBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.displayInform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes spin {
    to { transform: rotate(1turn); }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 1s infinite steps(8);
}


.loading:before,
.loading:after,
.loading > div:before,
.loading > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em; /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
}

.loading:before {
    background: #555;
}

.loading:after {
    transform: rotate(-45deg);
    background: #777;
}

.loading > div:before {
    transform: rotate(-90deg);
    background: #999;
}

.loading > div:after {
    transform: rotate(-135deg);
    background: #bbb;
}
