.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin: 20px;
  font-family: Arial;
}

.button {
margin: 15px;
}

img {
  width: 160px;
  height: 120px;
}

.house {
  border: solid 2px blue;
  border-radius: 30px;
  margin: 10px;
  width: 700px;
  height: 150px;
  font-family: Arial;
}

.house:hover{
  background: rgba(215, 241, 44, 0.08);
  box-shadow: none;
  cursor: pointer;
  border: solid 2px green;
}

.imageDiv {
  width: 160px;
  height: 120px;
  float: left;
  margin: 10px;
}

.descriptionDiv {
  margin: 10px;
}

.loadMoreBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.displayInform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
