<div class="top-panel">
    <button class="button" (click)="goBack()">Back</button>
    <div class="header"> <p>{{curResults}} of {{totalResults}} matches</p></div>
    <button class="button" (click)="goToFaves()">Faves</button>
</div>
<div class="displayInform">
    <ng-container *ngFor="let house of dataFromServer; let i = index ">
        <div class="house" (click)="selectHouse(house)">
            <div class="imageDiv">
                <img src="{{house.img_url}}" alt="img">
            </div>
            <div class="descriptionDiv">
                <p>Price of house: {{house.price_formatted}}</p>
                <p>{{house.summary}}</p>
            </div>
        </div>
    </ng-container>
</div>
<div class="loadMoreBtn">
    <button (click)="loadMore()" [disabled]="btnLoadMoreStatus">Load More</button>
</div>

