.container {
    width: 700px;
    border: solid 2px blue;
    border-radius: 30px;
    text-align: center;
    font-family: Arial;
}

.btn-faves {
    position: absolute;
    right: 30px;
    top: 30px;
}

.header_h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    text-align: center;
    font-weight: 300;
    margin: 10px;
    margin-top: 0;
}

.search-section {
    margin: 10px;
}

.recent-search {
    margin-bottom: 10px;
}

.inquiries {
    border: solid 2px blue;
    border-radius: 25px;
    margin: 10px;
}
