<div class="container">
    <div class="loading" *ngIf="!isSearchInProgress">Loading...</div>
    <div class="main-element" *ngIf="isSearchInProgress">
        <header>
            <h1 class="header_h1">PropertyCross</h1>
            <button class="btn-faves" (click)="goToFaves()">Faves</button>
            <h3 class="header-text">
                Use the form below to search for houses to buy. You can search by place-name, postcode, or click
                'My Location', to search in your current location
            </h3>
        </header>
        <section class="search-section">
            <input (keyup.enter)="searchLocation(cityTextField)" name="text-field" placeholder="Enter the City"
                   [(ngModel)]="cityTextField">
            <button (click)="searchLocation(cityTextField)">Go</button>
            <button (click)="searchOnMyLocation()">My Location</button>
        </section>
        <section class="error-message-section" *ngIf="errMassage">
            <h2>Error message</h2>
            <div class="massage-recent-search">
                {{errMassage}}
            </div>
        </section>
        <section class="recent-search">
            <h2>Recent searches</h2>
            <div class="inquiries">
                <div class="massage-recent-search" *ngIf="isNoRecentSearches">
                    No recent searches
                </div>
                <ng-container *ngFor="let search of recentSearches, let i = index">
                    <div (click)="goToRecentSearch(search, i)" class="recent-search-result">
                        Search #{{i+1}}: {{search.textOfRequest}} ({{search.result}})
                    </div>
                </ng-container>
            </div>
        </section>
    </div>
</div>
