.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-element {
    width: 700px;
    border: solid 2px blue;
    border-radius: 30px;
    text-align: center;
    font-family: Arial;
}

.btn-faves {
    position: absolute;
    right: 30px;
    top: 30px;
}

.header_h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    text-align: center;
    font-weight: 300;
    margin: 10px;
    margin-top: 0;
}

.search-section {
    margin: 10px;
}

.recent-search {
    margin-bottom: 10px;
}

.recent-search-result {
    border: solid 2px blue;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.recent-search-result:hover {
    background: rgba(215, 241, 44, 0.08);
    box-shadow: none;
    cursor: pointer;
    border: solid 2px green;
}

.massage-recent-search {
    border: solid 2px blue;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.inquiries {
    border: solid 2px blue;
    border-radius: 25px;
    margin: 10px;
}


@keyframes spin {
    to { transform: rotate(1turn); }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 1s infinite steps(8);
}


.loading:before,
.loading:after,
.loading > div:before,
.loading > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em; /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
}

.loading:before {
    background: #555;
}

.loading:after {
    transform: rotate(-45deg);
    background: #777;
}

.loading > div:before {
    transform: rotate(-90deg);
    background: #999;
}

.loading > div:after {
    transform: rotate(-135deg);
    background: #bbb;
}

