<div class="container">
    <div class="nav-panel">
        <button (click)="goBack()">Back</button>
        <button (click)="goHome()">Home</button>
        <button (click)="goToFaves()">Faves</button>
        <button (click)="addToFaves(dataOfHouse)" *ngIf="!flagOfFaves">Add to faves</button>
        <button (click)="removeFromFaves(dataOfHouse)" *ngIf="flagOfFaves">Remove from Faves</button>
    </div>
    <div class="inform-window" *ngIf="dataOfHouse">
        <div class="general-inform">
            <p>{{dataOfHouse.price_formatted}}</p>
            <p>{{dataOfHouse.title}}</p>
        </div>
        <div class="img">
            <img src="{{dataOfHouse.img_url}}" alt="Img">
        </div>
        <div class="detail-inform">
            <p>{{dataOfHouse.bedroom_number}} bedrooms,{{dataOfHouse.bathroom_number}} bathrooms</p>
            <p>{{dataOfHouse.summary}}</p>
        </div>
    </div>
    <div class="inform-window" *ngIf="!dataOfHouse">
        <h1>No selected house</h1>
    </div>
</div>
